/* Css for header section */
header{
    height: 25vw;
    margin-bottom: 100px;
}
/* Header container contains Character image and Name */
#head-container{
    width: 90%;
    padding: 50px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    top: 15vh;
}
/* SUperhero profile */
#superhero-profile{
    width: 30%;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 1px solid black;
}
/* Updating css of already defined class for Character name */
.search-label{
    font-size: 4rem;
    font-weight: 900;
    flex-grow: 1;
}

/* Updating css of already defined Main section for Superhero page */
main{
    color: black;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/* Superhero Description */
#description{
    text-align: justify;
    font-size: 1.5rem;
}
/* Info container containing Info heading and Cards */
.info-container{
    font-family: monospace;
    width: 100%;
    height: auto;
}
/* info heading i.e. Comics, Series, Events */
.info-type{
    padding: 5px;
    font-size: 2rem;
    font-weight: 600;
    display: block;
}
/* Container for list of Cards */
.card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: scroll;
    scrollbar-width: thin;
}
/* Single Info Card */
.info-card{
    padding: 10px;
    margin-right: 20px;
    width: 200px;
    min-width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
}
/* Card Image */
.card-thumbnail{
    width: 100%;
    aspect-ratio: 0.75;
    border: 1px solid black;
}
/* Card Name */
.card-name{
    font-size: 1rem;
    padding: 5px;
    color: black;
    text-align: center;
}

/* Changing css properties for screen size less than 920px */

@media screen and (max-width: 920px) {
    header{
        height: 40vw;
        margin-bottom: 35%;
    }
    #head-container{
        flex-direction: column;
        align-items: center;
        top: 12vh;
    }
    #superhero-profile{
        width: 60%;
    }
    .search-label{
        margin-top: 20px;
        font-size: 4rem
    }
    main{
        width: 80%;
    }
    #description{
        width: 80%;
    }
}

/* Changing css properties for screen size less than 600px */
@media screen and (max-width: 600px) {
    header{
        height: 40vw;
        margin-bottom: 45%;
    }
    .search-label{
        margin-top: 20px;
        font-size: 3rem
    }
    main{
        width: 90%;
    }
    #description{
        width: 95%;
    }
}