body{
    background-color: white;
    color: white;
    margin: 0;
    position: relative;
}

header{ 
    color: black;
    background: url(../assets/images/marvel-comic-books.jpg);
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-attachment: fixed;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
nav{
    background-color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0px -5px 35px rgb(0, 0, 0);
}
.heading{
    color: black;
    margin: 10px;
    font-family: monospace;
    font-size: 2rem;
    text-shadow: 3px 3px 15px rgb(72, 72, 72);
    cursor: pointer;
}
.black-button{
    height: 40px;
    width: 140px;
    margin-left: 30px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.black-button i{
    padding-right: 10px;
}
.black-button:active{
    color: white;
    background-color: rgb(107, 107, 107);
}
.search-label{
    font-family: monospace;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    width: 60%;
}
.search-box{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 50px;
}
#search{
    /* width: 83%; */
    background-color: transparent;
    /* background-color: bisque; */
    border-top: none;
    border-bottom: 3px solid rgb(0, 0, 0);
    border-left: none;
    border-right: none;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    padding: 5px;
    flex-grow: 1;
}
#search:focus{
    outline: none;
}

main{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.superhero-card{
    background-color: rgba(0, 0, 0, 1);
    height: 150px;
    width: 400px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 2px #252525;
    box-sizing: border-box;
    display: flex;
    transition: background-color 0.2s ease-in;
    cursor: default;
    position: relative;
}
.favourite-button{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
    border:none;
    border-radius: 50%;
    cursor: pointer;
}
.favourite-button:active{
    color: black;
}
.superhero-card:hover{
    background-color: rgba(255, 0, 0, 1);
}
.superhero-card:hover .card-name{
    scale: 1.1;
}
.card-profile{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
    color: white;
}
.card-name{
    flex-grow: 1;
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}


@media screen and (max-width: 920px) {
    .black-button span{
        visibility: hidden;
    }
    .black-button i{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .superhero-card{
        width: 300px;
        margin: 10px;
        flex-grow: 1;
    }
}