
header{
    height: 25vw;
    margin-bottom: 100px;
}
#head-container{
    width: 90%;
    padding: 50px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    top: 15vh;
}
#superhero-profile{
    width: 30%;
    aspect-ratio: 1;
    border-radius: 10px;
}

.search-label{
    font-size: 4rem;
    font-weight: 900;
    flex-grow: 1;
}

main{
    color: black;
}
#description{
    width: 65%;
    text-align: justify;
    font-size: 1.5rem;
}

@media screen and (max-width: 920px) {
    header{
        height: 40vw;
        margin-bottom: 35%;
    }
    #head-container{
        flex-direction: column;
        align-items: center;
        top: 12vh;
    }
    #superhero-profile{
        width: 60%;
    }
    .search-label{
        margin-top: 20px;
        font-size: 4rem
    }

    #description{
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    header{
        height: 40vw;
        margin-bottom: 45%;
    }
    .search-label{
        margin-top: 20px;
        font-size: 3rem
    }
    #description{
        width: 95%;
    }
}