main{
    margin-top: 0px;
    height: auto;
    background: url(assets/images/marvel-comic-books.jpg);
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-attachment: fixed;
}