body{
    background-color: black;
    color: white;
    margin: 0;
    position: relative;
}

header{
    
    color: black;
    background-color: white;
    background: url(assets/images/marvel-comic-books.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-attachment: fixed;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    /* background-color: aqua; */
    font-size: 3.5rem;
    text-align: center;
    /* width: 30%; */
}
.search-box{
    /* background-color: aquamarine; */
    display: flex;
    width: 65%;
    height: 50px;
}
#search{
    width: 90%;
    background-color: transparent;
    /* background-color: bisque; */
    border-top: none;
    border-bottom: 2px solid grey;
    border-left: none;
    border-right: none;
    /* color: white; */
    color: black;
    font-size: 1.5em;
    padding: 5px;
}
#search:focus{
    outline: none;
}
#search-button{
    width: 10%;
    background-color: transparent;
    /* background-color: blue; */
    border-top: none;
    border-bottom: 2px solid gray;
    border-right: none;
    border-left: none;
    /* color: grey; */
    font-size: 1em;
    cursor: pointer;
}
#search-button:active{
    color: lightgrey;
}
main{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.superhero-card{
    background-color: rgba(0, 0, 0, 0.8);
    height: 150px;
    width: 400px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 12px 2px #252525;
    box-sizing: border-box;
    display: flex;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}
.superhero-card:hover{
    background-color: rgba(255, 0, 0, 0.5);
}
.superhero-card:hover .card-name{
    scale: 1.1;
}
.card-profile{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    color: white;
}
.card-name{
    flex-grow: 1;
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
    transition: all 0.3s ease-in;
}


@media screen and (max-width: 920px) {
    .superhero-card{
        width: 300px;
        margin: 10px;
    }
}